.App {
  text-align: left;
}

p {
  margin: 5px 0px;  
}

.marker {
  background: #2285d0;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
}

.marker:hover {
  cursor: pointer;
}

.marker-active {
  transform-origin: 50% 50%;
  animation: jump .3s linear alternate infinite;
  background: #b9ab3f;
}

.Menu-Toggle {
  position: absolute;
  left: 0;
  margin: 10px !important;
  z-index: 1;
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
  border-radius: 2px !important;
  height: 40px;
  width: 40px;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  100% {transform: translate3d(0,10%,0) scale3d(1.2,1.2,1.2);}
}