.App {
  text-align: left;
}

p {
  margin: 5px 0px;  
}

.Messages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 400px;
  padding: 15px;
}

.Map-Container {
  height: '100vh';
  width: '100%';
}

.Place-Item-Name {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}

.Place-Item-Address {
  font-size: 14px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {  
  .List-Visible .Map-Container {
    padding-left: 350px;
  }  
}

.Menu-Toggle {
  position: absolute;
  left: 0;
  margin: 10px !important;
  z-index: 1;
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
  border-radius: 2px !important;
  height: 40px;
  width: 40px;
}

.List-Visible .Menu-Toggle {
  margin: 10px 10px 10px 365px !important;
}

.Map-Detail-Image img {
  border-radius: 3px 3px 0px 0px;
}

.Map-Detail {
  padding: 15px;
}

.Map-Detail-Name {
  margin: 0px 0px 0px 0px;
}

.Map-Detail-Address {
  margin: 0px 0px 0px 0px;
  color: rgba(0,0,0,.68);
}

.Map-Detail-Rating {
  padding: 10px 0px 0px 0px; 
}

.Map-Detail-Hours {
  padding-top: 15px;
}

.Hours-Title {
  font-size: 16px;
}

.Hours-List {
  list-style: none;
}

.Hours-Item {
  font-size: 14px;
}

.Map-Detail-Contact {
  padding-top: 15px;
}

.Contact-Title {
  font-size: 16px;
}

.Detail-Reference {  
    padding: 15px;
    text-align: right;
    border-top: 1px solid #eae1e1;
}

.List-Reference {
  padding: 15px;
  text-align: right;
}
